@import 'tailwindcss';

:root {
	--color-primary: rgb(37 99 235);
	--color-accent: rgb(22 163 74);
	--color-background: rgb(15 23 42);
	--color-surface: rgb(2 6 23);
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	color: rgb(248 250 252);
	min-height: 100vh;
}

:focus-visible {
	outline: 2px solid var(--color-primary);
	outline-offset: 2px;
}

a {
	color: var(--color-primary);
}

a:hover,
a:focus {
	color: rgb(59 130 246);
}
